# Prerequisites
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual Environments
.venv/
uv.cache/

# Local Configs & Secrets (Crucial)
.env
.env.*
*.pem
*.key
*.p12
config.local.json
config.*.local.json

# App Data/Output
results/
uploads/
*.pdf

# Tooling & IDEs
.idea/
.vscode/
.git/
.github/
.pytest_cache/
.ruff_cache/
.sonarlint/
.githooks/
mise.toml
sonar-project.properties

# Misc
README.md
**/.DS_Store
