__pycache__
.venv
.idea
.vscode
results/
uploads/
*.pdf
*.pyc
.git
.env
.env.*
*.pem
*.key
*.p12
config.local.json
config.*.local.json
.pytest_cache
.ruff_cache
.sonarlint
tests/
.python-version
mise.toml
.github/
sonar-project.properties
.githooks
README.md